///////////////////////////////////////////////////////////////////////////////
//                                    HEADER
///////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////
// LOGO
.logo {
  height: 3.5rem;
  margin-left: 3rem;
}

//////////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%; // don't grow, don't shrink, occupy 40% of the header

  display: flex; // Nested flexbox: search flex item is becoming also a flex container
  justify-content: center;  // align flex items in the main axis
  align-items: center;      // align flex items in the cross axis

  &__input {
    font-family: inherit; // <input> doesn't inherit the font-family of global document
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px; // a high number for the rounded edges
    width: 90%;           // 90% of parent element (search)
    transition: all .2s;
    margin-right: -3.2rem; // for the button to move on top of the input

    &:focus {
      width: 100%;         // make input bigger when on focus
      outline: none;       // remove the focus style
      background-color: var(--color-grey-light-3); // darker
    }

    &::-webkit-input-placeholder { 
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__button {
    border: none;
    background-color: transparent; 

    &:focus {
      outline: none;  
    }

    &:active {
      transform: translateY(2px); // move button down when we click on it
    }
  }

  // NOT needed thanks to 'background-color: transparent' for the button  
  // &__input:focus + &__button {  // select adjacent sibling when the input is focused
  //   background-color: var(--color-grey-light-3);
  // }
  
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3)
  }
}


//////////////////////////////////////////
// USER NAVIGATION
.user-nav {
  background-color: greenyellow;

  &__icon-box {

  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {

  }

  &__user {
    
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {

  }
}