
.container {
  max-width: 120rem;
  margin: 8rem auto; // center the container inside its parent element (body)
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem; // ONLY for testing purposes
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem; // the global font-size is 10px = 1rem (quite small)

  display: flex; // FLEX container (parent of flex items: logo, search bar, user nav)
  justify-content: space-between;  // how to align flex items in the main axis
  align-items: center;             // how to align flex items in the cross axis
}

.content { // FLEX container (parent of flex items)
  display: flex; // place sidebar + hotel-view side by side
}

.sidebar { // FLEX item
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; // don't grow if space, don't shrink if not space, always 18% width

  display: flex; // Nested flexbox: now 'sidebar' flex item is also a flex container
  flex-direction: column; // main axis in this container goes from top to bottom
  justify-content: space-between; // for the 2 flex items of 'sidebar' (sidenav, legal) 
}

.hotel-view { // FLEX item
  background-color: #fff;
  flex: 1; // grow as much as it can (occupy all the available space that it has)

  // Only for TESTING purposes (remove later)
  // height: 70rem;
  // background-color: orangered;
}

.detail {
  display: flex; // by default flex-direction: row, justify-content: flex-start, align-items: stretch

  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  margin-bottom: var(--line);
}

.description {
  flex: 0 0 60%; // don't grow if space, don't shrink if not space, always 60% width

  background-color: #fff;
  box-shadow: var(--shadow-light);
  margin-right: 4.5rem;
  padding: 3rem;
  font-size: 1.4rem;
}

.user-reviews {
  background-color: yellowgreen; // ONLY for testing purposes

  flex: 1;      // occupy the remaining space
}